.container {
  background: #333;
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding-top: 64px;

  &Small {
    justify-content: initial;
    padding: 32px 0;
  }
}

.titleContainer {
  color: #ccc;
  width: 440px;
  padding: 40px;

  &Small {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: initial;
    padding: initial;
  }
}

.scaleButton {
  background: #aaa;
  border: 1px solid #777;
  border-radius: 4px;
  padding: 4px 8px;
  color: #333;
  font-weight: bold;
  margin-top: 8px;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    background: #ccc;
  }

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.title {
  font-size: 32px;
  margin: 0;
  letter-spacing: 0.01em;
}

.description{
  color: #AAA;
  margin-bottom: 32px;
}

.footer {
  height: 64px;
  display: flex;
  align-items: center;
}

.small {
  margin: 24px;
}

.cite {
  margin-bottom: 8px;
  color: #AAA;
}

.citeText {
  color: #8689C2;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
