.contents {
  width: 100%;
  padding-top: 64px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.titleContainer {
  color: var(--text-color-main);
  width: 440px;
  padding: 32px;

  @media screen and (max-width: 480px) {
    padding: 40px 0;
    width: 356px;
  }

  &Small {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: initial;
    padding: initial;
  }
}

.title {
  font-size: var(--text-size-large);
  font-weight: 300;
  margin: 0;
  letter-spacing: 0.01em;
}

.description{
  color: var(--text-color-sub);
  font-size: var(--text-size-medium);
  margin-bottom: 40px;
}

.cite {
  font-size: var(--text-size-small);
  margin-bottom: 16px;
  color: var(--text-color-sub);
}

.citeText {
  color: var(--text-link-color);
  text-decoration: underline;
}

.link {
  padding: 8px 24px;
  background: var(--background-button-color);
  border-radius: var(--border-radius-button);
  color: var(--text-button-color);
  font-size: var(--text-size-small);
  font-weight: bold;
  
  &:hover {
    background: var(--background-button-hover-color);
  }
}