.container {
  background: var(--background-color);
  min-height: 100vh;
  padding-bottom: 16px;
}

.footer {
  display: flex;
  align-items: center;
  color: var(--text-color-sub);
  margin: 64px 0 16px 16px;
}
